/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Root Variables */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font: Playfair Display;
}
/* Global Styles */
html {
	font-family: var(--font);
	background-color: var(--soft-white);
	color: var(--midnight-blue);
	max-width: 600px;
	margin: 0 auto;
}
header, footer {
	background-color: var(--midnight-blue);
}
header {
	color: var(--soft-white);
	text-align: center;
}
h1 {
	font-size: 3em;
	font-weight: bold;
}
h2 {
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 10px;
}
h3 {
    font-size: 1.5em;
	font-weight: bold;
}
p {
    line-height: 1.35;
}
header p {
	font-style: italic;
}
nav {
	background-color: var(--champagne-gold);
	padding: 10px;
}
nav ul {
	display: grid;
	grid-template-columns: auto auto auto;
}
nav a {
	text-align: center;
	text-decoration: none;
	color: var(--midnight-blue);
	font-weight: bold;
	font-size: 1.5em;
	
}
#AboutUs {
	border-bottom: var(--champagne-gold) solid;
	padding-top: 40px;
	padding-bottom: 20px;
}
#AboutUs p, #Gallery p {
	padding-left: 10px;
}
#Offerings {
	border-bottom: var(--champagne-gold) solid;
	padding-bottom: 10px;
}
#Offerings div {
	background-color: var(--olive-green);
	color: var(--soft-white);
	border-radius: 12px;
	padding: 10px;
	margin: 10px;
}
#BulletList {
	list-style-type: disc;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.35;
}
#Gallery {
	border-bottom: var(--champagne-gold) solid;
	padding-bottom: 20px;
}
#Gallery div {
	border-radius: 12px;
	margin: 10px;
	text-align: center;
	box-shadow: 3px 3px 5px gray;
}
#Gallery img {
	margin: 0 auto;
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#Gallery div > p {
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
}
#ViewGallery {
	background-color: var(--olive-green);
	border-radius: 12px;
	text-align: center;
	margin: 10px;
	padding: 10px;
}
#ViewGallery a {
	text-decoration: none;
	color: var(--soft-white);
}
footer {
	text-align: center;
	padding-bottom: 20px;
	margin-top: 20px;
}
address {
	color: var(--soft-white);
	padding-top: 40px;
	padding-bottom: 40px;
	line-height: 1.35;
}
footer a {
	text-decoration: none;
	color: var(--champagne-gold);
	line-height: 1.35;
}

/* Medium Media Query */
@media screen and (min-width: 600px) {
	#Offerings {
		display: grid;
		grid-template-columns: auto auto;
	}
	#Offerings h2 {
		grid-column: span 2;
	}
	#Artisans {
		grid-column: span 1;
	}
	#Dining {
		grid-column: span 1;
	}
	#MonthlyBasket {
		grid-column: span 2;
	}
	#Gallery {
		display: grid;
		grid-template-columns: auto auto;
	}
	#Gallery h2, p {
		grid-column: span 2;
	}
	#ViewGallery {
		grid-column: span 2;
	}
}
/* Large Media Query */
/* @media screen and (min-width: 900px) {} */
/* Extra Large Media Query */
/* @media screen and (min-width: 1200px) {} */